
h1 {
    text-align: center;
    font-size: xx-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



























































































/* h1 {
    font-family: monospace;
    color: rgb(79, 111, 172);
    font-size: x-large;
    text-align: center;
} */

/* .host {
    text-decoration: none;
    color: indianred;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} */
/* 
.ho-head {
    
} */

/* .emoji {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.desc {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
} */
